<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>My Blog</title>
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
    <header>
        <div class="container">
            <h1>Company App</h1>
            <nav>
                <ul>
                    <li><a href="/register">Register</a></li>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/user/dashboard">User Dashboard</a></li>
                    <li><a href="/admin/dashboard">Admin Dashboard</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
</body>

</html>