{% extends 'layout.html' %}

{% block content %}
<div class="login-container">
    <div class="login-header">
        <h2>Welcome Back!</h2>
        <p>Please sign in to your account</p>
    </div>
    <form action="{{action}}" method="POST" class="login-form">
        <div class="input-group">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username">
        </div>
        <div class="input-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password">
        </div>
        <button type="submit" class="btn-login">Login</button>
    </form>
</div>
{% endblock %}